flows.json
[{"id":"945e1975.ebb278","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"945e1975.ebb278","name":"","active":true,"console":"false","complete":"false","x":970,"y":240,"wires":[]},{"id":"cf9d027b.c2ec9","type":"ui_form","z":"945e1975.ebb278","name":"","label":"","group":"7753ff.3d219c","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"status1","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"adult_mortality","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"infant_deaths","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alchohol","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"percentage_expenditure","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepatitis_b","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"underfive_deaths","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"total_expenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"diphtheria","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv_aids","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"population","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"thinness_19_years","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"thinness_9_years","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"income_composition","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","status1":"","adult_mortality":"","infant_deaths":"","alchohol":"","percentage_expenditure":"","hepatitis_b":"","measles":"","bmi":"","underfive_deaths":"","polio":"","total_expenditure":"","diphtheria":"","hiv_aids":"","gdp":"","population":"","thinness_19_years":"","thinness_9_years":"","income_composition":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":240,"wires":[["120065d8.4dcc4a"]]},{"id":"120065d8.4dcc4a","type":"function","z":"945e1975.ebb278","name":"pre token","func":"//set the inputs to the global variables\nglobal.set(\"country\",msg.payload.country);\nglobal.set(\"year\",msg.payload.year);\nglobal.set(\"status1\",msg.payload.status1);\nglobal.set(\"adult_mortality\",msg.payload.adult_mortality);\nglobal.set(\"infant_deaths\",msg.payload.infant_deaths);\nglobal.set(\"alchohol\",msg.payload.alchohol);\nglobal.set(\"percentage_expenditure\",msg.payload.percentage_expenditure);\nglobal.set(\"hepatitis_b\",msg.payload.hepatitis_b);\nglobal.set(\"measles\",msg.payload.measles);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"underfive_deaths\",msg.payload.underfive_deaths);\nglobal.set(\"polio\",msg.payload.polio);\nglobal.set(\"total_expenditure\",msg.payload.total_expenditure);\nglobal.set(\"diphtheria\",msg.payload.diphtheria);\nglobal.set(\"hiv_aids\",msg.payload.hiv_aids);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"population\",msg.payload.population);\nglobal.set(\"thinness_19_years\",msg.payload.thinness_19_years);\nglobal.set(\"thinness_9_years\",msg.payload.thinness_9_years);\nglobal.set(\"income_composition\",msg.payload.income_composition);\nglobal.set(\"schooling\",msg.payload.schooling);\n\n//recieving a token\nvar apikey=\"tishuRgalw6GGM6-fDbtOleQ33IhF1pw8RMoFxFcspR-\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["e65a7434.5b3a88"]]},{"id":"e65a7434.5b3a88","type":"http request","z":"945e1975.ebb278","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":240,"wires":[["9153b95.8ba7648"]]},{"id":"9153b95.8ba7648","type":"function","z":"945e1975.ebb278","name":"predication request","func":"//fetch token and make headers\ntoken=msg.payload.access_token;\nvar instance_id=\"6ac73d6a-f765-4315-a188-21fee82645b3\";\nmsg.headers={'Content-Type':'application/json','Authorization':\"Bearer\"+token,\"ML-Instance-ID\":instance_id};\n\n//get values of global variables\nvar country=global.get(\"country\");\nvar year=global.get(\"year\");\nvar status=global.get(\"status\");\nvar adult_mortality=global.get(\"adult_mortality\");\nvar infant_deaths=global.get(\"infant_deaths\");\nvar alchohol=global.get(\"alchohol\");\nvar percentage_expenditure=global.get(\"percentage_expenditure\");\nvar hepatitis_b=global.get(\"hepatitis_b\");\nvar measles=global.get(\"measles\");\nvar bmi=global.get(\"bmi\");\nvar underfive_deaths=global.get(\"underfive_deaths\");\nvar polio=global.get(\"polio\");\nvar total_expenditure=global.get(\"total_expenditure\");\nvar diphtheria=global.get(\"diphtheria\");\nvar hiv_aids=global.get(\"hiv_aids\");\nvar gdp=global.get(\"gdp\");\nvar population=global.get(\"population\");\nvar thinness_19_years=global.get(\"thinness_19_years\");\nvar thinness_9_years=global.get(\"thinness_9_years\");\nvar income_composition=global.get(\"income_composition\");\nvar schooling=global.get(\"schooling\");\n\n//send user values to the service endpoint\nmsg.payload={\"fields\":[\"Country\",\"Year\",\"Status\",\"Adult Mortality\",\n\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\n\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\n\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\n\"GDP\",\"Population\",\"thinness  1-19 years\",\n\"thinness 5-9 years\",\"Income composition of resources\",\n\"Schooling\"],\n    \"values\":[[country,year,status,adult_mortality\n    ,infant_deaths,alchohol,percentage_expenditure,\n    hepatitis_b,measles,bmi,underfive_deaths,polio,\n    total_expenditure,diphtheria,hiv_aids,gdp,\n    population,thinness_19_years,thinness_9_years,\n    income_composition,schooling]]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["e3830f11.6be54"]]},{"id":"e3830f11.6be54","type":"http request","z":"945e1975.ebb278","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/6ac73d6a-f765-4315-a188-21fee82645b3/deployments/b19d72dd-7bd1-4737-ade1-a9c53e3dc13f/online","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":240,"wires":[["f2f2649a.0d0d98","a852bc3d.f4371"]]},{"id":"a852bc3d.f4371","type":"function","z":"945e1975.ebb278","name":"result parsing","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":340,"wires":[["ccb67eda.7dec"]]},{"id":"ccb67eda.7dec","type":"ui_text","z":"945e1975.ebb278","group":"7753ff.3d219c","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":340,"wires":[]},{"id":"7753ff.3d219c","type":"ui_group","z":"","name":"Life Expectancy Prediction","tab":"a409d6e6.d7c968","order":1,"disp":true,"width":"6","collapse":false},{"id":"a409d6e6.d7c968","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]